.details-chart-f {
  // width: calc((100vw - 330px)/2);
  width: 50%;
  padding-left: 0.2rem;
  height: 38rem;
  @media only screen and (max-width: 425px) {
    width: 100vw;
    margin-top: 3rem;
  }
}