.details-table {
  // height: calc(100vh - 64px - 6.5rem - 0.3rem - 3.8rem - 5rem - 38rem);
  // flex-grow: 1;
  @media only screen and (max-width: 425px) {
    margin-top: 3rem;
  }
  table {
    height: calc(100vh - 64px - 6.5rem - 0.3rem - 3.8rem - 5rem - 38rem);
  }
  tr {
    border-bottom: 1.5px solid #808080;
  }
  th,td{
    color: #fff;
    font-size: 1.2rem;
  }
  
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1 {
    height: calc(100vh - 64px - 6.5rem - 0.3rem - 3.8rem - 5rem - 38rem);
  }
}