.MuiListItemText-root.css-tlelie-MuiListItemText-root {
  span {
    font-size: 1.5rem;
  }
}

.MuiListItem-root.MuiListItem-gutters {
  // border: 1px solid #0d92e8;
  margin-bottom: 1rem;
}

.city-list-name {
  .Mui-selected {
    border: 1px solid #00ffff;
  }
}

.MuiList-root.MuiList-padding {
  margin-top: 1rem;
}