.MuiListItemText-root.css-tlelie-MuiListItemText-root {
  span {
    font-size: 1.5rem;
  }
}

.MuiListItem-root.MuiListItem-gutters {
  // border: 1px solid #0d92e8;
  margin-bottom: 1rem;
}

.city-list-name {
  .Mui-selected {
    border: 1px solid #00ffff;
  }
}

.MuiList-root.MuiList-padding {
  margin-top: 1rem;
}


@media only screen and (max-width: 425px) {
  .MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular {
    button {
      font-size: 3rem;
      padding-right: 0;
      margin-right: 1rem;
    }
  }
  .MuiTypography-root.MuiTypography-h6.MuiTypography-noWrap {
    font-size: 1.15rem;
  }
  .MuiDrawer-root.MuiDrawer-docked {
    display: none;
  }
  .user {
    display: flex;
    align-items: center;
    button {
      font-size: 1rem;
    }
    span {
      font-size: 1.15rem;
      text-transform: capitalize;
    }
  }

  .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-positionFixed {
    margin-left: 0;
    left: 0;
    width: 100vw;
  }
}