.widget {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1.9px);
  height: 20rem;
  width: calc((100vw - 18rem)/6);
  padding: 1.5rem 1.8rem;
  cursor: pointer;
  color: #fff;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    border: 1.9px solid transparent;
    background: linear-gradient(0deg, #02ffcb, #2b0c9d) border-box;
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
  }

  .no-forecast-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    @media only screen and (max-width: 425px) {
      justify-content: space-evenly;
    }
    // justify-content: space-between;
    // align-items: flex-end;
  }
  
  .per-forecast-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    // justify-content: space-between;
    @media only screen and (max-width: 425px) {
      justify-content: space-evenly;
    }
  }

  .chart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
    width: 14rem;
    canvas {
      height: 9rem;
      width: 9rem;
    }
    svg[data-testid="ArrowUpwardOutlinedIcon"] {
      color: #008000;
    }
    svg[data-testid="ArrowDownwardOutlinedIcon"] {
      color: #ff0000;
    }
  }

  .per, .num {
    font-size: 1.9rem;
  }

  .forecast-container {
    // position: absolute;
    // top: 5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2.5rem;
    padding-bottom: 2rem;
    // margin-top: 3rem;
  }
}

@media only screen and (max-width: 425px) {
  .widget {
  width: calc(100vw - 8rem);
  }
}