.header-dp {
  color: #fff;
  width: 99.5%;
  background-color: #000;
  @media only screen and (max-width: 425px) {
    width: 100vw;
  }
  .first {
    padding-left: 6rem;
    height: 6.5rem;
    display: flex;
    align-items: flex-end;
    padding-bottom: 1rem;
    background-color: #11262f;
    @media only screen and (max-width: 425px) {
      padding-left: 1.5rem;
      height: 10rem;
    }
    svg[data-testid='ReportProblemOutlinedIcon'] {
      color: #ffa500;
      margin-right: 0.5rem;
      // @media only screen and (max-width: 425px) {
      //     font-size: 1rem;
      //   }
    }
    svg[data-testid='ViewListOutlinedIcon'] {
      color: #63f7db;
      margin-left: 1.2rem;
      font-size: 1.6rem;
      cursor: pointer;
    }
    svg[data-testid='OutlinedFlagRoundedIcon'] {
      color: #808080;
      font-size: 1.8rem;
      cursor: pointer;
    }
    .stack-name {
      font-size: 1.5rem;
      font-weight: bold;
      margin-left: 0.7rem;
    }
    .stack-name-box{
      display: flex;
      align-items: center;
      padding-right: 10rem;
      border-right: 0.5px solid #808080;
      @media only screen and (max-width: 425px) {
        padding-right: 1.5rem;
      }
    }
    .stack-id-box {
      margin-left: 1.5rem;
      .label{
        font-size: 1.2rem;
      }
      .value {
        font-size: 1.3rem;
      }
      @media only screen and (max-width: 425px) {
        padding: 0;
        width: 16rem;
      }
    }
    .fcast {
      display: flex;
      margin-left: 6rem;
      @media only screen and (max-width: 425px) {
        margin-left: 1rem;
        width: 10rem;
        margin: 0;
      }
      .content {
        height: 4.3rem;
        font-size: 1.2rem;
        display: flex;
        background-color: #193d4e;
        border: 1px solid #193d4e;
        border-radius: 0.5rem;
        padding-left: 1.2rem;
        padding-top: 0.3rem;
        padding-bottom: 0.1rem;
        @media only screen and (max-width: 425px) {
          flex-direction: column;
          align-items: flex-start;
          height: 8rem;
          width: 12rem;
          font-size: 1rem;
        }
      }
      .flag {
        align-self: center;
        margin-left: 3rem;
        @media only screen and (max-width: 425px) {
          margin: 0;
        }
      }
      .title {
        color: #808080;
        padding-right: 6rem;
        @media only screen and (max-width: 425px) {
          padding-right: 0;
        }
      }
    }
  }

  .second {
    padding-left: 6rem;
    display: flex;
    align-items: center;
    background-color: #11262f;
    height: 3.8rem;
    .requirements{
      .title {
        margin-left: 0.7rem;
        margin-right: 1.3rem;
      }
    }
    svg[data-testid='ExpandMoreOutlinedIcon'] {
      border-left: 0.5px solid #808080;
      padding-left: 1rem;
      box-sizing: content-box;
      cursor: pointer;
    }
  }

  .third {
    padding-left: 5.5rem;
    height: 5rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    background-color: #070f15;
    .MuiFormControl-root {
      font-size: 2rem;
      margin-left: 3rem;
      // color: #fff;
      svg {
        color: #fff;
        font-size: 2.2rem;
      }
    }
    .MuiSelect-select.MuiSelect-outlined {
      color: #fff;
      padding: 0.8rem;
      font-size: 1.2rem;
    }
    svg[data-testid="InfoOutlinedIcon"] {
      font-size: 2rem;
      color: #63f7db;
      border-right: 0.5px solid #808080;
      padding-right: 1.5rem;
      margin-right: 1.5rem;
      box-sizing: content-box;
    }
  }
}