@keyframes zoomIn {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

.map {}


.map svg {
  animation: zoomIn 2s ease forwards;
}

.map g {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  background-color: #11262f;
}

.map rect {}